[user]
	email = lasse.schuirmann@gmail.com
	name = Lasse Schuirmann

[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = lasse.schuirmann@gmail.com

[alias]
    c = commit
    ca = commit -a
    ce = commit --amend
    cea = commit --amend -a
    ctmp = commit -a -m tmp

    ri = rebase --interactive
    ra = rebase --abort
    rc = rebase --continue

    ama = am --abort
    amc = am --continue

[push]
	default = simple
