[user]
    email = lasse.schuirmann@gmail.com
    name = Lasse Schuirmann

[sendemail]
    smtpserver = smtp.gmail.com
    smtpserverport = 587
    smtpencryption = tls
    smtpuser = lasse.schuirmann@gmail.com

[core]
    editor = vim

[alias]
    a = add
    ap = add -p

    ama = am --abort
    amc = am --continue

    b = branch
    co = checkout
    con = checkout -b

    c = commit
    cm = commit --message
    ca = commit --all
    cam = commit --all --message
    ce = commit --amend
    cem = commit --amend --message
    cea = commit --amend --all
    cae = commit --amend --all
    ceam = commit --amend --all --message
    ct = commit --all --message tmp
    cet = commit --amend --all --message tmp

    d = diff
    dif = diff # typo

    m = checkout master

    p = push
    pf = push --force

    r = rebase
    ri = rebase --interactive
    ra = rebase --abort
    rc = rebase --continue
    rm = rebase master

    res = reset
    resh = reset --hard

    s = send-email
    sh = show # thats Show Head
    st = status
    stat = status
    s-libosinfo = send-email --to=libosinfo@redhat.com
[push]
    default = simple
