[user]
    email = lasse.schuirmann@gmail.com
    name = Lasse Schuirmann

[sendemail]
    smtpserver = smtp.gmail.com
    smtpserverport = 587
    smtpencryption = tls
    smtpuser = lasse.schuirmann@gmail.com

[core]
    editor = vim

[alias]
    a = add
    ap = add -p

    ama = am --abort
    amc = am --continue

    c = commit
    ca = commit -a
    cam = commit -a -m
    ce = commit --amend
    cea = commit --amend -a
    ceam = commit --amend -a -m
    ctmp = commit -a -m tmp

    p = push
    pf = push --force

    ri = rebase --interactive
    ra = rebase --abort
    rc = rebase --continue
[push]
    default = simple
